
<div class="container">
        <h1 class="text-center p-3">Register Yourself Here</h1>

        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">

            <% if(typeof err !='undefined' ){ %>
                <div class="alert alert-danger" role="alert">
                    <strong> Error </strong>
                    <%= err %>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
                </div>
                <% } %>
    

        <form action="/user/signup" method="POST" name="register">


        <div class="mb-3">
        <label for="username">Choose A Username</label>
        <input type="text" class="form-control form-control-lg" name="username" id="username"
        autocomplete="off" placeholder="Username">
        </div>

        <div class="mb-3">
        <label for="email">Enter Your Email</label>
        <input type="email" class="form-control form-control-lg" name="email" id="email"
        autocomplete="off" placeholder="Email">
        </div>



        <div class="mb-3">
        <label for="password">Choose A Password</label>
        <input type="password" class="form-control form-control-lg" name="password" id="password"
        autocomplete="off" placeholder="Password">
        </div>
        <div class="mb-3">
        <label for="confirmpassword">Confirm Your Password</label>
        <input type="password" class="form-control form-control-lg" name="confirmpassword"
        id="confirmpassword" autocomplete="off" placeholder="Confirm Password">
        </div>
        <br>
        <div class="d-grid gap-3 mt-3">
        <input type="submit" class="btn btn-lg btn-success" value="Register">

        </div>
        <p>Already Registered ? <a class="card-link" href="/user/login">Login here</a> </p>
        </form>
        </div>
    </div>