<div class="container">
      <h1 class="text-center p-3">Sign In Here</h1>
      <div
        style="margin: 0 auto"
        class="col-12 col-md-6 col-lg-5 p-5 customborder"
      >
       

        <%- include ("../partials/messages"); %>

        <!-- if someone tried to access a protected route  -->
        <!-- this flash message will show them to login first  -->


        <form action="/user/login" , method="POST">
         
          <div class="mb-3">
            <label for="username">Enter Your Email</label>
            <input
              type="email"
              class="form-control form-control-lg"
              name="email"
              id="username"
              autocomplete="off"
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <label for="password">Enter Your Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              name="password"
              id="password"
              autocomplete="off"
              placeholder="Password"
            />
          </div>
          <br>
          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-block btn-success"
              value="Login"
            />
            
          </div>
          <p>Not a member? <a class="card-link" href="/user/signup">Sign up</a></p>
          <!-- added a new button for redirecting to forgot password page  -->
          <p>
            
            
          </p>
        </form>
      </div>
    </div>