@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}


.navbar-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-item a{
	color: black;
	font-size: 22px;
	text-transform: uppercase;
	margin: 20px;
}
.navbar-light {
	margin-left: 100px;
}.card-img-top{
	height: 200px;
	}
.form-control{
	width: 500px;
}
#product{
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
}

#product .col{

    margin: 40px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;    
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
    flex: 1 0 25%; 
    margin: 5px;
    
}
/*media */
@media screen and (max-width: 600px) {
	#product .col{

    margin: 40px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;    
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
    flex: 1 0 50%; 
    margin: 5px;
    
}
  

	
}
.badge{
    color: red;
   
}
.img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    border:1px solid #FFFFFF;    
}

table tr th {
    background:#eee;    
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.cartimg{
    height: 20px;
    width: 40px;
}


