<div class="container">
      <h1 class="text-center p-3">TOTAL Ksh <%= total %></h1>
      <div
        style="margin: 0 auto"
        class="col-12 col-md-6 col-lg-5 p-5 customborder"

        <form action="/"  method="POST">
         
          </div>
          <div class="mb-3">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="name"
              id="name"
              autocomplete="off"
              placeholder="Name"
            />

            </div>
          <div class="mb-3">
            <label for="adress">Adress</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="adress"
              id="adress"
              autocomplete="off"
              placeholder="Adress"
            />

            </div>
          <div class="mb-3">
            <label for="username">HolderName</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="username"
              id="username"
              autocomplete="off"
              placeholder="Card Name"
            />
            </div>
          <div class="mb-3">
            <label for="number">Number</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="number"
              id="number"
              autocomplete="off"
              placeholder="Card Number"
            />
            </div>
          <div class="mb-3">
            <label for="expiry">Expiry</label>
            <input
              type="expiry"
              class="form-control form-control-lg"
              name="expiry"
              id="expiry"
              autocomplete="off"
              placeholder="Expiry"
            />
          </div>

          <div class="mb-3">
            <label for="expiry">CVC</label>
            <input
              type="cvc"
              class="form-control form-control-lg"
              name="cvc"
              id="cvc"
              autocomplete="off"
              placeholder="cvc"
            />
          </div>
          <br>
          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-block btn-success"
              value="Buy"
            />
            
          </div>
         
            
          </p>
        </form>
      </div>
    </div>